.start {
    width: 150px;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: blue;
    font-weight: bolder;
    position: relative;
    top: 150px;
  }

  #container {
    position: absolute;
    width: 900px;
    height: 700px;
    background-color: green;
    text-align: center;
    margin: 50px;
    padding: 50px;
    left: 350px;
  }

  #time {
    display: none;
  }

  .question1 {
    display: none;
  }

  #q1win {
    display: none;
  }

  #q1lose {
    display: none;
  }

  #q1oot {
    display: none;
  }

  #q3oot {
    display: none;
  }

  #q2oot {
    display: none;
  }

  .question2 {
    display: none;
  }

  #q2win {
    display: none;
  }

  #q2lose {
    display: none;
  }

  img {
    height: 300px;
  }

  .question3 {
    display: none;
  }

  #q3win {
    display: none;
  }

  #q3lose {
    display: none;
  }

  #gameover {
    display: none;
  }